.styleguide-sandbox {
    display: block;
}

.styleguide-sandbox__header {
    display: flex;
    user-select: none;
    cursor: pointer;
    background: #f0f0f0;
    border-radius: 4px 4px 0 0;
    color: #000;
    padding: 0 16px;

    .styleguide-sandbox &:only-child {
        border-radius: 4px;
    }
}

.styleguide-sandbox__title {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    font-family: sans-serif;
    padding: 16px 0;
    word-break: break-word;
}

.styleguide-sandbox__controls {
    margin-left: auto;
    display: flex;
}

.styleguide-sandbox__control {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #202020;
    opacity: .5;
    transition: opacity .1s ease;
    padding: 0 8px;

    &:hover {
        opacity: 1;
    }
}

.styleguide-sandbox__content {
    overflow: auto;
    margin-top: -1px;
    padding: 20px;
    border: 1px solid #f0f0f0;
    border-top: 0;
    box-shadow: 0 -1px 0 0 #f0f0f0;
    transform: translate3d(0, 0, 0);

    // we need to disable any animation in vrt
    .styleguide-section.vrt & {
        *,
        *::before,
        *::after {
            animation: none !important;
            transition: none !important;
        }
    }
}
