.styleguide-component {
    padding-top: 32px;
}

.styleguide-component__title {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 32px;
    color: var(--black);
    font-family: sans-serif;
}

.styleguide-component__tests {
    margin-top: 16px;
}

.styleguide-component__description {
    font-size: 16px;
    color: #a0a0a0;
    margin-bottom: 16px;
    max-width: 50%;
}

.styleguide-component__props-controls + .styleguide-component__props-data {
    margin-top: 16px;
}

.styleguide-component__props-handler {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-family: sans-serif;

    &::before {
        content: '+';
        margin-right: 4px;
        display: block;
        background: #7000e3;
        color: #fff;
        width: 14px;
        height: 14px;
        line-height: 12px;
        text-align: center;
    }

    &.is-collapsed {
        &::before {
            content: '–';
        }
    }
}

.styleguide-component__props-data {
    margin-bottom: 32px;
}

.styleguide-component__props {
    font-size: 14px;
    font-family: sans-serif;

    table {
        width: 100%;
        border-collapse: collapse;
        border-radius: 4px;
        text-align: left;
    }

    thead {
        tr {
            border-bottom: 1px solid #7000e3;
        }
        th {
            padding: 0 16px 8px 4px;
        }
    }

    tbody {
        tr:nth-child(2n) {
            background: #f0f0f0;
        }

        tr {
            td:nth-child(2) {
                font-style: italic;
                color: #303030;
            }

            td:nth-child(1) {
                font-weight: 600;
            }

            td:nth-child(4) {
                width: 45%;
            }
        }
    }

    td {
        padding: 8px 16px 8px 4px;
    }
}

.styleguide-component__sandbox + .styleguide-component__sandbox {
    margin-top: 32px;
}
