$ui-border-color: #ccc;

.styleguide-search-field {
    position: relative;
    color: $ui-border-color;
    padding: 0 12px;
    margin-bottom: 16px;
    font-family: sans-serif;
}

.styleguide-search-field__input {
    background-color: #fff;
    width: 100%;
    display: block;
    font-size: 16px;
    color: #303030;
    height: 40px;
    line-height: 32px;
    padding: 6px 6px 6px 36px;
    border: 1px solid #ccc;

    &::-webkit-input-placeholder {
        color: $ui-border-color;
        opacity: 1;
    }

    &:-moz-placeholder {
        color: $ui-border-color;
        opacity: 1;
    }

    &::-moz-placeholder {
        color: $ui-border-color;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        color: $ui-border-color;
        opacity: 1;
    }
}

.styleguide-search-field__icon {
    position: absolute;
    top: 50%;
    left: 20px;
    display: flex;
    transform: translateY(-50%);
}
