.styleguide-icon {
    display: inline-flex;
    width: 16px;
    height: 16px;
    color: inherit;
    fill: currentColor;
    transition: all .2s ease-in-out;

    > svg {
        display: flex;
        max-width: inherit;
        width: inherit;
        max-height: inherit;
        height: inherit;
        background: inherit;
        fill: inherit;
    }
}
