.error-boundary {
    font-family: monospace;
    line-height: 1.5;
    padding: 16px;
    background: rgba(222, 23, 56, .2);
    color: rgba(222, 23, 56, 1);
}

.error-boundary__title {
    margin: 0;
}

.error-boundary__text {
    margin: 10px 0 0;
    white-space: pre-wrap;
}

.error-boundary__show-more {
    margin: 10px 0 0;
    cursor: pointer;
    text-decoration: underline;
}