.error-boundary {
    padding: 16px;
    background: rgba(222, 23, 56, .2);
    color: rgba(222, 23, 56, 1);
}

.error-boundary__title {
    margin: 0;
}

.error-boundary__text {
    margin: 0;
    white-space: pre-line;
}
