.error-boundary {
    padding: 0 16px;
    background: rgba(222, 23, 56, .2);
    color: rgba(222, 23, 56, 1);
}

.error-boundary__title {
    padding-top: 16px;
}

.error-boundary__text {
    padding-bottom: 16px;
    white-space: pre-line;
}

