.styleguide-sidebar {
    overflow-x: hidden;
    width: 300px;
    -webkit-font-smoothing: antialiased;

    .styleguide-search-field {
        margin-bottom: 8px;
    }
}

.styleguide-sidebar__content {
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    width: inherit;
    border-right: 1px solid #f0f0f0;
    background: #f0f0f0;
}

.styleguide-sidebar__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
    padding-top: 16px;
}

.styleguide-sidebar__logo {
    width: 32px;
    height: 32px;
    margin-bottom: 4px;
}
