.styleguide-dialog {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}

.styleguide-dialog__header {
    position: relative;
    display: flex;
    align-items: center;
    flex: 0 1 auto;
    padding: 16px;
    background-color: #fafafa;
    color: #282828;
    font-family: sans-serif;
}

.styleguide-dialog__title {
    margin-bottom: 0;
    font: 400 16px -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', 'Lucida Grande', sans-serif;
}

.styleguide-dialog__close {
    position: absolute;
    top: 50%;
    right: 16px;
    display: flex;
    opacity: .5;
    transform: translateY(-50%);
    transition: opacity .2s ease-out;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}

.styleguide-dialog__content {
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1 1 auto;
    padding: 10px;
    transform: translate3d(0, 0, 0);
}
