# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
 
  build:
   # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
     # This workflow contains a single job called "build"
    - name: GitHub Pages Deploy
      uses: Winner95/styleguide-action@v0.0.1
      with:
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          remoteUrl: https://github.com/winner95/styleguide.git
